

h1, h2, h3, h4, h5, h6 {
	color: #000;
}

.serif, .athelas {
	font-family: 'Headland One', serif;

}

.bg-black-60 {
	background: linear-gradient(200deg, rgba(0, 0, 0, 0.7), transparent);
}

.fw2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 50px;
}

pre, .pre  {
  overflow-x: auto;
  overflow-y: auto;
}

.f4 {
	font-size: 12pt;
}

.cc-terms{
	display: grid;
	text-align: center;
}

#netlify-light{
}

.social-footer {
	
}
