

.bg-black-60 {
	background: linear-gradient(200deg, rgba(0, 0, 0, 0.7), transparent);
}

.fw2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 50px;
}

pre, .pre  {
  overflow-x: auto;
  overflow-y: auto;
}